.gradient-custom {
    /* fallback for old browsers */
    background: #7944b1;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(157, 193, 255));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(205, 163, 250), rgb(145, 181, 245))
  }

